//
// General breakpoints that cover most device sizes
//

// Mobile
$bp-mobile-tiny-min: 0;
$bp-mobile-tiny-max: 320px;
$bp-mobile-small-min: ( $bp-mobile-tiny-max + 1 );
$bp-mobile-small-max: 360px;
$bp-mobile-medium-min: ( $bp-mobile-small-max + 1 );
$bp-mobile-medium-max: 400px;
$bp-mobile-large-min: ( $bp-mobile-medium-max + 1 );
$bp-mobile-large-max: 599px;

// Tablet
$bp-tablet-min: ( $bp-mobile-large-max + 1 );
$bp-tablet-max: 1024px;

// Dekstop
$bp-desktop-1280-min: ( $bp-tablet-max + 1 );
$bp-desktop-1280-max: 1280px;
$bp-desktop-1440-min: ( $bp-desktop-1280-max + 1 );
$bp-desktop-1440-max: 1440px;
$bp-desktop-1680-min: ( $bp-desktop-1440-max + 1 );
$bp-desktop-1680-max: 1680px;
$bp-desktop-1920-min: ( $bp-desktop-1680-max + 1 );
$bp-desktop-1920-max: 1920px;
$bp-desktop-large-min: ( $bp-desktop-1920-max + 1 );


//
//  These mixins apply styles only when within the specified breakpoint
//  ---
//  1. Predefined breakpoints
//  2. Custom breakpoints for width
//  3. Custom breakpoints for height
//

//
//  1. Predefined breakpoints:
//  ---
//  USAGE:
//  @include breakpoint( desktop-1680 ) {
//      background: red;
//  }
//

@mixin breakpoint( $point ) {

    // Mobile - all
    @if $point == mobile-all {
        @media only screen and (max-width: $bp-mobile-large-max) {
            @content;
        }
    }

    // Mobile - tiny (0 - 320px)
    @if $point == mobile-tiny {
        @media only screen and (min-width: $bp-mobile-tiny-min) and (max-width: $bp-mobile-tiny-max) {
            @content;
        }
    }

    // Mobile - small (321 - 360px)
    @if $point == mobile-small {
        @media only screen and (min-width: $bp-mobile-small-min) and (max-width: $bp-mobile-small-max) {
            @content;
        }
    }

    // Mobile - medium (361 - 400px)
    @if $point == mobile-medium {
        @media only screen and (min-width: $bp-mobile-medium-min) and (max-width: $bp-mobile-medium-max) {
            @content;
        }
    }

    // Mobile - large (401 - 599px)
    @if $point == mobile-large {
        @media only screen and (min-width: $bp-mobile-large-min) and (max-width: $bp-mobile-large-max) {
            @content;
        }
    }

    // Tablet (600 - 1024px)
    @if $point == tablet {
        @media only screen and (min-width: $bp-tablet-min) and (max-width: $bp-tablet-max) {
            @content;
        }
    }

    // Desktop 1024 - 1280
    @if $point == desktop-1280 {
        @media only screen and (min-width: $bp-desktop-1280-min) and (max-width: $bp-desktop-1280-max) {
            @content;
        }
    }

    // Desktop 1280 - 1440
    @if $point == desktop-1440 {
        @media only screen and (min-width: $bp-desktop-1440-min) and (max-width: $bp-desktop-1440-max) {
            @content;
        }
    }

    // Desktop 1440 - 1680
    @if $point == desktop-1680 {
        @media only screen and (min-width: $bp-desktop-1680-min) and (max-width: $bp-desktop-1680-max) {
            @content;
        }
    }

    // Desktop 1680 - 1920
    @if $point == desktop-1920 {
        @media only screen and (min-width: $bp-desktop-1920-min) and (max-width: $bp-desktop-1920-max) {
            @content;
        }
    }

    // Desktop 1920+
    @if $point == desktop-large {
        @media only screen and (min-width: $bp-desktop-large-min) {
            @content;
        }
    }
}

//
//  2. Custom breakpoints for width:
//  ---
//  USAGE:
//  @include breakpoint-width( @bp-desktop-1280-min, @bp-desktop-1920-min ) {
//      background: red;
//  });

//  @include breakpoint-width-min( 1280px ) {
//      background: green;
//  });

//  @include breakpoint-width-max( @bp-desktop-1440-max ) {
//      background: blue;
//  });
//

// Min width and Max width
@mixin breakpoint-width( $min, $max ) {

    @media only screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

// Min width
@mixin breakpoint-width-min( $min ) {

    @media only screen and (min-width: $min) {
        @content;
    }
}

// Max width
@mixin breakpoint-width-max( $max ) {

    @media only screen and (max-width: $max) {
        @content;
    }
}

//
//  3. Custom breakpoints for height:
//  ---
//  USAGE:
//  .breakpoint-height( 600px, 700px, {
//      background: red;
//  });

//  .breakpoint-height-min( 1000px, {
//      background: green;
//  });

//  .breakpoint-height-max( 600px, {
//      background: blue;
//  });
//

// Min height and Max height
@mixin breakpoint-height( $min, $max ) {

    @media only screen and (min-height: $min) and (max-height: $max) {
        @content;
    }
}

// Min height
@mixin breakpoint-height-min( $min ) {

    @media only screen and (min-height: $min) {
        @content;
    }
}

// Max height
@mixin breakpoint-height-max( $max ) {

    @media only screen and (max-height: $max) {
        @content;
    }
}
